<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: ticketmagpie-head">
</head>
<body class="no-sidebar">
<div id="page-wrapper">

    <!-- Header -->
    <div th:replace="fragments :: ticketmagpie-header">
    </div>

    <div class="wrapper">
        <div class="container">
            <table>
                <thead>
                <td><b>Name</b></td>
                <td><b>Email</b></td>
                <td><b>Role</b></td>
                <td></td>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                    <td>
                        <form th:action="@{users/delete(username=${user.username})}"
                              method="post" style="display:inline;">
                            <input type="submit" value="Delete"
                                   style="padding: 0.2em;"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <h1><b>Create a new user</b></h1>
            <form action="" method="post">
                <div><label>Username:</label>
                    <input type="text"
                           name="username"/>
                </div>
                <div><label>Email:</label>
                    <input type="text"
                           name="email"/>
                </div>
                <div><label>Role:</label>
                    <select name="role">
                        <option selected="selected">USER</option>
                        <option>ADMIN</option>
                    </select>
                </div>
                <div><label>Password:</label>
                    <input type="password"
                           name="password"/>
                </div>
                <div>
                    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                    <input type="submit" value="Create"/>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: ticketmagpie-footer">
    </div>

</div>

<!-- Scripts -->

<span th:replace="fragments :: ticketmagpie-scripts"></span>

</body>
</html>
