<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: ticketmagpie-head">
</head>
<body class="no-sidebar">
<div id="page-wrapper">

    <!-- Header -->
    <div th:replace="fragments :: ticketmagpie-header">
    </div>

    <div class="wrapper">
        <div class="container">
            <span th:if="${done}">
                <p>We have sent you a password recovery email.</p>
            </span>
            <form th:if="${param.user == null}" th:action="@{/forgotpassword}" method="post">
                <div><label> Enter your username to recover your password:</label>
                    <input type="text"
                           name="user"/>
                </div>
                <div>
                    <input type="submit" value="Sign In"/>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: ticketmagpie-footer">
    </div>

</div>

<!-- Scripts -->

<span th:replace="fragments :: ticketmagpie-scripts"></span>

</body>
</html>
