<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Email</title>
</head>
<body>
<span th:if="${userFromDatabase}">
<h1>New Email</h1>
<p>From: TicketMagPie administrator</p>
<p>To: <span th:text="${userFromDatabase.username}"></span></p>
<p>Subject: Password recovery</p>
<p>Dear <span th:text="${userFromDatabase.username}"></span>, here is your password: <span
        th:text="${userFromDatabase.password}"></span></p>
</span>
    <span th:if="${userFromDatabase == null}">
No user found with this username...
</span>
</body>
</html>
