<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: ticketmagpie-head">
</head>
<body class="no-sidebar">
<div id="page-wrapper">

    <!-- Header -->
    <div th:replace="fragments :: ticketmagpie-header">
    </div>

    <div class="wrapper">
        <div class="container">
            <p>Please enter the user name and password you would like:</p>
            <form th:action="@{/registration}" method="get">
                <div><label> User Name : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
                <div><label> Email : <input type="text" name="email"/> </label></div>
                <input type="hidden" name="role" value="USER"/>
                <div>
                    <input type="submit" value="Register"/>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: ticketmagpie-footer">
    </div>

</div>

<!-- Scripts -->

<span th:replace="fragments :: ticketmagpie-scripts"></span>

</body>
</html>
