<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: ticketmagpie-head">
</head>
<body class="no-sidebar">
<div id="page-wrapper">

    <!-- Header -->
    <div th:replace="fragments :: ticketmagpie-header">
    </div>

    <div class="wrapper">
        <div class="container">
            <p>Hello <span sec:authentication="name"></span>!</p>
        </div>
    </div>

    <div th:replace="fragments :: ticketmagpie-footer">
    </div>

</div>

<!-- Scripts -->

<span th:replace="fragments :: ticketmagpie-scripts"></span>

</body>
</html>
